.map-container {
  flex: 1;
  height: 520px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  flex: 1;              
  min-width: 700px;      
  height: 520px;
}
.map-container {
  flex: 1;               
  min-width: 700px;    
  height: 520px;
}

